.student-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: solid 1px #e0e0e0;
    border-top: transparent;

    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    
    border-radius: 0px 0px 8px 8px;

    .student-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 90%;

        button{
            background-color: transparent;
            border: none;
        }
    }
}


/* Breakpoint para telas pequenas (smartphones) */
@media (max-width: 575.98px) {
    .student-list {
        width: 70%;
        .student-card{
            width: 100%;
            position: relative;

            p{
                font-size:0.7rem;
                max-width: 70%;
            }

            img{
                width: 20px;
                height: 20px;
            }

            .popup-container{
                position: absolute;
                top: 0px;
                left: 195px;
                width: 100%;
                z-index: 10;
                display: flex;  
                align-items: center;

                .popup{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #fcfcfc;
                    border: solid 1px #e0e0e0;
                    border-radius: 8px;
                    width: 38%;

                    button{
                        width: 150px;
                        margin: 5px 0px 10px 10px;
                        display: block;

                        p{
                            color: black;
                        };
                    }


                    

                    
                }

            }
            
            
        }
    }
}

/* Breakpoint para telas pequenas (tablets em modo retrato) */
@media (min-width: 576px) {
       
}

/* Breakpoint para telas médias (tablets em modo paisagem) */
@media (min-width: 768px) {

}

/* Breakpoint para telas grandes (desktops pequenos) */
@media (min-width: 992px) {
    
}

/* Breakpoint para telas extra grandes (desktops grandes) */
@media (min-width: 1200px) {
  
}